name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      
    - name: Lint with flake8
      run: |
        flake8 app tests main.py carbon_check.py green_trigger.py


    - name: Run tests
      run: |
        pytest

    - name: Build Docker image
      run: |
        docker build -t sustainability-app .

